@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.projectContainer {
    width: 100%;
    height: 200px;
    margin: 10px;
    float: left;
}
.projectContainer img {
    width: 90%;
}