@import url('https://fonts.googleapis.com/css?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  background-color: #1d1d1d;
  display: grid;
  grid-template-areas: "header header header" "main main main" "footer footer footer";
  grid-template-columns: auto auto auto;
  grid-template-rows: auto 100vh auto;
}

.o-header {
  grid-area: header;
  background-color: #fff;
  padding: 30px;
  height: 30px;
}

.o-header .logo {
  float: left;
  width: 150px;
}

.o-header .menu {
  float: right;
  width: 300px;
}

.o-header .menu ul {
  margin: 0;
  list-style-type: none;
}

.o-header .menu ul li {
  float: left;
}

.o-header .menu ul li a {
  padding: 5px;
  color: #ffffff;
  text-decoration: none;
}

.o-header .menu ul li a:hover {
  color: #FCBA04;
}

.o-aside {
  grid-area: aside;
  background-color: #fff;
  -ms-transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  transform: skew(-10deg, 0deg);
}

.o-main {
  grid-area: main;
}

.o-footer {
  height: 30px;
  grid-area: footer;
  background-color: #1d1d1d;
}

.o-footer .sociallinks {
  float: left;
}

.o-footer .copyright {
  float: right;
  font-size: 11px;
  color: #fff;
}

.o-footer .sociallinks ul {
  margin: 0;
  list-style-type: none;
}

.o-footer .sociallinks ul li {
  float: left;
}

.o-footer .sociallinks ul li a {
  padding: 5px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}

.o-footer .sociallinks ul li a {
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.o-footer .sociallinks ul li a:hover {
  color: #FCBA04;
}

h1 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.PadingTop {
  padding-top: 100px
}

.ImageApp {
  width: 300px
}

.ByText {
  size: 30px;
  color: #282c34
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.customModal {
  background: #1d1d1d!important;
  height: 80%;
  width: 98%;
  border-radius: 10px
}

.customModal ul li {
  list-style-type: none;
}

.customModal ul li a {
  padding: 5px;
  color: #fff;
  font-size: 11px;
  text-decoration: none;
}

.customModal ul li a {
  padding: 5px;
  font-size: 21px;
  color: #fff;
  text-decoration: none;
}

/* **********************************************
Forms
********************************************** */

label {
  color: #fff;
  text-align: left;
  width: 100%;
}

input[type="text"] {
  width: 100%;
  display: inline-block;
  color: black;
  padding: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 2px;
  background-color: #FCBA04;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: rgb(252, 195, 38);
}

/* **********************************************
Phone
********************************************** */

@media only screen and (max-width: 600px) {
  .PadingTop {
    padding-top: 50px
  }
  .ImageApp {
    width: 150px
  }
  .App {
    display: grid;
    grid-template-areas: "header header header" "mobilemain mobilemain mobilemain" "footer footer footer";
  }
  .o-main {
    grid-area: mobilemain;
    padding: 20px;
    text-align: center
  }
  .o-header {
    padding: 10
  }
  .o-header .logo {
    float: left;
    width: 100px;
  }
  .o-header .menu {
    float: right;
    width: 30px;
    margin-top: -7px
  }
  .o-footer .copyright {
    float: left;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    color: #fff;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}